@{
    ViewData["Title"] = "Autor";
}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <button type="button" class="btn btn-primary btn-lg m-2">Lista de Autores</button>
            <button type="button" class="btn btn-secondary btn-lg m-2">Agregar autor</button>
            <button type="button" class="btn btn-primary btn-lg m-2">Buscar autor</button>
            <button type="button" class="btn btn-secondary btn-lg m-2">Eliminar autor</button>
        </div>
    </div>
</div>