@{
    ViewData["Title"] = "Estudiantes";
}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <a asp-area="" asp-controller="Estudiante" asp-action="ListaEstudiante"><button type="button" class="btn btn-primary btn-lg m-2">Lista de Estudiantes</button></a>
            <a asp-area ="" asp-controller="Estudiante" asp-action="AgregarEstudiante"><button type="button" class="btn btn-secondary btn-lg m-2">Agregar estudiante</button></a>
            <a asp-area="" asp-controller="Estudiante" asp-action="FindEstudiante"><button type="button" class="btn btn-primary btn-lg m-2">Buscar estudiante</button></a>
            <a asp-area="" asp-controller="Estudiante" asp-action="EliminarEstudiante"><button type="button" class="btn btn-secondary btn-lg m-2">Eliminar estudiante</button></a>
        </div>
    </div>
</div>